<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" (click)="logout()">Logout</a>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element">
              <button type="button" mat-flat-button color="primary" (click)="delTask(element)">Delete</button>
              <button mat-flat-button color="primary" (click)="chooseTask(element);ngxSmartModalService.getModal('updModal').open()">Update</button>
              <button mat-flat-button color="primary" (click)="chooseTask(element);ngxSmartModalService.getModal('shareModal').open()">Share</button>
            </td>
              
            </ng-container>
          

          <ng-container matColumnDef="caption">
            <th mat-header-cell *matHeaderCellDef> Task </th>
            <td mat-cell *matCellDef="let element"> {{element.caption}} </td>
              
            </ng-container>
        
          <ng-container matColumnDef="sharedBy">
            <th mat-header-cell *matHeaderCellDef> Shared By User </th>
            <td mat-cell *matCellDef="let element"> {{element.sharedBy}} </td>
        
          </ng-container>
        
          
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
        </table>
        

    <form [formGroup]="addForm" (ngSubmit)="addTask(addForm.value)">
      <mat-form-field >
        <input class="input-colored" matInput type="capture" placeholder="capture" formControlName="capture"
               [errorStateMatcher]="matcher">
      </mat-form-field>
      <div class="button-row">
        <button type="submit" mat-flat-button color="primary">Add Task</button>
      </div>
    </form>
  </div>
</div>

  <form [formGroup]="updateForm" (ngSubmit)="updateTask(updateForm.value)">
    <ngx-smart-modal closable="true" #updModal identifier="updModal">
        <mat-form-field >
            <input class="input-colored" matInput type="new_caption" placeholder="capture" formControlName="new_caption"
                   [errorStateMatcher]="matcher">
          </mat-form-field>
          <div class="button-row">
            <button type="submit" mat-flat-button color="primary">Update Task</button>
          </div>
    </ngx-smart-modal>
  </form>

  <form [formGroup]="shareForm" (ngSubmit)="shareTask(shareForm.value)">
    <ngx-smart-modal closable="true" #shareModal identifier="shareModal">
        <mat-form-field >
            <input class="input-colored" matInput type="shareToEmail" placeholder="capture" formControlName="shareToEmail"
                   [errorStateMatcher]="matcher">
          </mat-form-field>
          <div class="button-row">
            <button type="submit" mat-flat-button color="primary">Update Task</button>
          </div>
    </ngx-smart-modal>
  </form>